body {
  margin: 0px;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 70px;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
#grid #artists {
  border-right: 1px solid gray;
}
#grid ul {
  margin: auto;
  margin-top: 50px;
  padding-left: 50px;
}
#grid #article {
  display: grid;
  padding-left: 100px;
  padding-right: 100px;
}
#grid #article #info {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}
#grid #article #info h2 {
  margin: 0px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
}
#grid #article #info #img {
  margin: 0px;
  padding: 20px;
  text-align: center;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
#grid #article #info #youtube {
  margin: 0px;
  padding: 20px;
  text-align: center;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
#grid #article #data {
  width: 570px;
  margin: auto;
  margin-top: 80px;
}
#grid #article #data p {
  margin-bottom: 25px;
}
#grid #article #disqus_thread {
  margin: 50px;
  margin-top: 80px;
}

@media (max-width:800px) {
  h1 {
    border-bottom: none;
  }
  #grid {
    display: block;
  }
  #grid #artists {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: none;
  }
  #grid ul {
    border-right:none;
    list-style: none;
    width: 600px;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  #grid ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;
  }
  #grid #article {
    padding: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  #grid #article #info {
    margin: auto;
    margin-top: 80px;
  }
}